@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

/* slideDown */
@keyframes slideDown {
  0% {
    transform: translateY(-15px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(15px);
    opacity: 1;
  }
}

.animate-slide-down {
  animation: slideDown 2s ease-in-out infinite alternate;
}
